body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    width: 100%;
}
.banner{
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
}
label, input, button {
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0;
}
label:focus {
    outline: none;
}

#stockDisplay {
    margin-top: 1rem;
    font-weight: bold;
}